body {
  background-color: #ffc87b;
}
h1, h3 {
  text-align: center;
  margin-bottom: 50px;
}
#cathead {
margin: auto;
display: block;
border-radius: 40%;
width: 70%;

}
.btn {
  display: block;
  margin: auto;
  text-align: center;
}
.receipt {
  display: none;
  margin: auto;
}

#order {
  position: relative;
  text-align: center;
}
